html {
  background-color: #3f96f8;
  height: 0px;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
#root {
  background-color: #3f96f8;  
}
.App {
  text-align: center;
}

.podcast-logo {
  height: 40vmin;
  pointer-events: none;
}
.podcast-title{
  margin: 20px 0;
}


.podcast-descreption > p{
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.App-body {
  text-align: center;
  background-color: #3f96f8;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer-bottom-text{
  padding-bottom: 10px;
  font-size: calc(10px + .5vmin);
}
.podcast-listen-on > li{
  padding: 0 13px;

}
.podcast-listen-on > li > a { 
  color: #fff;
}
.podcast-listen-on > li:hover { 
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px)
}

.center-body {
  width: 80%;
  margin: 0 auto;
}

.latest-eps-title{
  text-align: left;
  margin: 40px 0 20px 0
}